<div class="navigation-nav_link">
    <p>Health Functions</p>
    <div id="megamenu" class="megamenu-dropdown">
        <div class="megamenu-dropdown_content megamenu-health_functions">
            <div class="container-health_functions">
                <div class="column-health_functions">
                    <p class="title">Cardiovascular</p>
                    <a href="#">QuerciSorb QR</a>
                    <a href="#">QuerciSorb SR</a>
                </div>
                <span class="divider"></span>
                <div class="column-health_functions">
                    <p class="title">Gastrointestinal</p>
                    <a href="#">BiomeAide SR</a>
                    <a href="#">Probutyrate</a>
                    <a href="#">AuRx</a>
                </div>
                <span class="divider"></span>
                <div class="column-health_functions">
                    <p class="title">Hepatic</p>
                    <a href="#">HepatiSafe</a>
                </div>
                <span class="divider"></span>
                <div class="column-health_functions">
                    <p class="title">Immune</p>
                    <a href="#">BerberActiv QR</a>
                </div>
                <span class="divider"></span>
                <div class="column-health_functions">
                    <p class="title">Musculoskeletal</p>
                    <a href="#">TetraCumin QR</a>
                    <a href="#">TetraCumin SR</a>
                </div>
                <span class="divider"></span>
                <div class="column-health_functions">
                    <p class="title">Neurological</p>
                    <a href="#">SafeCell</a>
                </div>
                <span class="divider"></span>
                <div class="column-health_functions">
                    <p class="title">Pulmonary</p>
                    <a href="#">MuSolve SR</a>
                    <a href="#">QuerciSorb SR</a>
                </div>

            </div>
        </div>
    </div>
</div>
