<div class="navigation-nav_link">
    <p>Health Functions</p>
    <div id="megamenu" class="megamenu-dropdown">
        <div class="megamenu-dropdown_content megamenu-health_functions">
            <div class="container-health_functions">
                {{#each categories}}
                    {{#each children}}
                        <div class="column-health_functions">
                            <p class="title">{{name}}</p>
                            {{#each children}}
                                <a href="{{url}}">{{name}}</a>
                            {{/each}}
                        </div>
                        <span class="divider"></span>
                    {{/each}}
                {{/each}}
            </div>
        </div>
    </div>
</div>
