<div class="contain-to-grid navigation-banner navigation-main">
    <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
            {{> components/common/navigation/navigation-megamenu-health_functions }}

            {{> components/common/navigation/navigation-megamenu-shop_products }}

            <div class="navigation-nav_link">
                <p>The Power of Tesseract</p>
            </div>

            <div class="navigation-nav_link">
                <p>Stories</p>
            </div>

            <div class="navigation-nav_link">
                <p>Resources</p>
            </div>

        </section>
    </nav>
</div>
