<div class="navigation-nav_link">
    <p class="nav-link">Shop Products</p>
    <div id="megamenu" class="megamenu-dropdown">
        <div class="megamenu-dropdown_content megamenu-shop_products container">

            <div class="row">
                <div class="small-4 columns shop_products-left">
                    <p class="shop_products-featured-text">Featured</p>
                    <div id="firstProductOutput"></div>
                </div>

                <div class="small-4 columns shop_products-center">
                    <div id="centerProductsOutput"></div>
                </div>

                <div class="small-4 columns shop_products-right">
                    <div class="row">
                        <div class="small-6 columns">
                            <div id="rightProductsOutput1"></div>
                        </div>
                        <div class="small-6 columns">
                            <div id="rightProductsOutput2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="banners banners-shopall">
            <div class="banner">
                <a href="/shop-products/" class="shopall-button">Shop All »</a>
            </div>
        </div>
    </div>
</div>

