<div class="contain-to-grid navigation-banner navigation-main">
    <nav class="top-bar" data-topbar role="navigation">
        <section class="top-bar-section">
            {{> components/common/navigation/navigation-megamenu-health_functions }}

            {{> components/common/navigation/navigation-megamenu-shop_products }}

            <div class="navigation-nav_link single">
                <a href="/the-power-of-tesseract" class="nav-link">The Power of Tesseract</a>
            </div>

            <div class="navigation-nav_link single">
                <a href="/stories" class="nav-link">Stories</a>
            </div>

            <div class="navigation-nav_link single">
                <a href="/resources" class="nav-link">Resources</a>
            </div>
        </section>
    </nav>
</div>
