<nav class="navPages">
    <div class="navPages-accordion">
        <dl class="accordion">
            <dt><a href="">Health Functions</a></dt>
            <dd class="health-functions">
                <div class="container-health_functions">
                    {{#each categories}}
                        {{#each children}}
                            <div class="column-health_functions">
                                <p class="title">{{name}}</p>
                                {{#each children}}
                                    <a href="{{url}}">{{name}}</a>
                                {{/each}}
                            </div>
                        {{/each}}
                    {{/each}}
                </div>

                <div class="banners banners-shopall banner-shopall-mobile">
                    <div class="banner">
                        <a href="/shop-products/" class="shopall-button">Shop All »</a>
                    </div>
                </div>
            </dd>

            <dt><a href="">Shop Products</a></dt>
            <dd class="shop-products">
                <p class="title-featured">Featured</p>
                {{#each products.featured}}
                    <article class="card right-list">
                        <div class="card-body">
                            <div class="card-text">
                                <h4 class="card-title">
                                    <a href="{{url}}">{{name}}</a>
                                </h4>
                                <div class="card-summary" data-test-info-type="price">
                                    {{#each custom_fields}}
                                        {{#if name '===' 'featured_description'}}
                                            <p>{{{ sanitize value }}} </p>
                                        {{/if}}
                                    {{/each}}
                                    <a href="{{url}}">Learn More »</a>
                                </div>
                            </div>
                        </div>
                    </article>
                {{/each}}

                <div class="banners banners-shopall banner-shopall-mobile">
                    <div class="banner">
                        <a href="/shop-products/" class="shopall-button">Shop All »</a>
                    </div>
                </div>
            </dd>

            <dt class="link-only"><a href="/the-power-of-tesseract">The Power of Tesseract</a></dt>

            <dt class="link-only"><a href="/stories">Stories</a></dt>

            <dt class="link-only"><a href="/resources">Resources</a></dt>

            <dt><a href="">Search</a></dt>
            <dd>
                <div class="navPages-quickSearch">
                    {{> components/common/quick-search}}
                </div>
            </dd>

            <dt class="link-only"><a href="{{urls.auth.login}}">Log In or Register</a></dt>

        </dl>
    </div>
</nav>
