<nav class="navPages">
    <div class="navPages-accordion">
        <dl class="accordion">
            <dt><a href="">Health Functions</a></dt>
            <dd class="health-functions">
                <div class="container-health_functions">
                    {{#each categories}}
                        {{#each children}}
                            <div class="column-health_functions">
                                <p class="title">{{name}}</p>
                                {{#each children}}
                                    <a href="{{url}}">{{name}}</a>
                                {{/each}}
                            </div>
                        {{/each}}
                    {{/each}}
                </div>

                <div class="banners banners-shopall banner-shopall-mobile">
                    <div class="banner">
                        <a href="/shop-products/" class="shopall-button">Shop All »</a>
                    </div>
                </div>
            </dd>

            <dt><a href="">Shop Products</a></dt>
            <dd class="shop-products">
                <p class="title-featured">Featured</p>
                {{#each products.featured}}
                    <article class="card right-list">
                        <div class="card-body">
                            <div class="card-text">
                                <h4 class="card-title">
                                    <a href="{{url}}">{{name}}</a>
                                </h4>
                                <div class="card-summary" data-test-info-type="price">
                                    {{#each custom_fields}}
                                        {{#if name '===' 'featured_description'}}
                                            <p>{{{ sanitize value }}} </p>
                                        {{/if}}
                                    {{/each}}
                                    <a href="{{url}}">Learn More »</a>
                                </div>
                            </div>
                        </div>
                    </article>
                {{/each}}

                <div class="banners banners-shopall banner-shopall-mobile">
                    <div class="banner">
                        <a href="/shop-products/" class="shopall-button">Shop All »</a>
                    </div>
                </div>
            </dd>

            <dt><a href="">The Power of Tesseract</a></dt>
            <dd>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu nibh. Nullam mollis. Ut justo. Suspendisse potenti.</dd>

            <dt><a href="">Search</a></dt>
            <dd>
                <div class="navPages-quickSearch">
                    {{> components/common/quick-search}}
                </div>
            </dd>

        </dl>
    </div>

    <ul class="navPages-list navPages-list--user">

        {{#if currency_selector.currencies.length '>' 1}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="#" data-collapsible="navPages-currency" aria-controls="navPages-currency" aria-expanded="false">
                    {{lang 'common.currency' code=currency_selector.active_currency_code}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-chevron-down"></use></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-currency" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        {{#each currency_selector.currencies}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{{switch_url}}}">
                                {{#if is_active}}
                                    <strong>{{name}}</strong>
                                {{else}}
                                    {{name}}
                                {{/if}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </li>
        {{/if}}
        {{#if settings.gift_certificates_enabled}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.gift_certificate.purchase}}">{{lang 'common.gift_cert'}}</a>
            </li>
        {{/if}}
        {{#if customer.store_credit.value '>' 0}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--storeCredit">
                    {{lang 'common.store_credit_overview' credit=customer.store_credit.formatted}}
                </a>
            </li>
        {{/if}}
        {{#if theme_settings.product_list_display_mode '==' 'list'}}
            <li class="navPages-item">
                <a class="navPages-action navPages-action--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>
            </li>
        {{/if}}
        {{#if customer}}
            <li class="navPages-item">
                <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account">
                    {{lang 'common.account'}} <i class="icon navPages-action-moreIcon" aria-hidden="true"><svg><use xlink:href="#icon-chevron-down" /></svg></i>
                </a>
                <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                    <ul class="navPage-subMenu-list">
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}">{{lang 'account.nav.orders'}}</a>
                        </li>
                        {{#if settings.returns_enabled}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}">{{lang 'account.nav.returns'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}">{{lang 'account.mobile_nav.messages'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}">{{lang 'account.nav.addresses'}}</a>
                        </li>
                        {{#if settings.show_payment_methods}}
                            <li class="navPage-subMenu-item">
                                <a class="navPage-subMenu-action navPages-action" href="{{urls.account.payment_methods.all}}">{{lang 'account.nav.payment_methods'}}</a>
                            </li>
                        {{/if}}
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}">{{lang 'account.mobile_nav.wishlists'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}">{{lang 'account.nav.recently_viewed'}}</a>
                        </li>
                        <li class="navPage-subMenu-item">
                            <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}">{{lang 'account.nav.settings'}}</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.logout}}">{{lang 'common.logout'}}</a>
            </li>
        {{else}}
            <li class="navPages-item">
                <a class="navPages-action" href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                {{#if settings.account_creation_enabled}}
                    {{lang 'common.or'}} <a class="navPages-action" href="{{urls.auth.create_account}}">{{lang 'common.sign_up'}}</a>
                {{/if}}
            </li>
        {{/if}}
        {{#if theme_settings.social_icon_placement_top}}
            <li class="navPages-item">
                {{> components/common/social-links}}
            </li>
        {{/if}}
        {{#each categories}}
            {{#if children}}
                <li class="not-click has-dropdown{{#if is_active}} active{{/if}}">
                    <a href="{{url}}">{{name}}</a>
                    <ul class="dropdown">
                        {{#each children}}
                            <li {{#if is_active}}class="active"{{/if}}>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </li>
            {{else}}
                <li {{#if is_active}}class="active"{{/if}}>
                    <a href="{{url}}">{{name}}</a>
                </li>
            {{/if}}
        {{/each}}

        {{#each pages}}
            <li class="{{#if has_children}}has-dropdown{{/if}}{{#if is_active}} active{{/if}}">
                <a href="{{url}}">{{name}}</a>
                {{#if has_children}}
                    <ul class="dropdown">
                        {{#each children}}
                            <li {{#if is_active}}class="active"{{/if}}>
                                <a href="{{url}}">{{name}}</a>
                            </li>
                        {{/each}}
                    </ul>
                {{/if}}
            </li>

        {{/each}}
    </ul>
</nav>
