<nav class="navPages">
    <div class="navPages-accordion">
        <dl class="accordion">
            <dt class="link-only"><a class="inline" href="{{urls.cart}}">Cart</a> <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
            </svg> <span class="countPill cart-quantity"></span></dt>

            <dt><a href="">Health Functions</a></dt>
            <dd class="health-functions">
                <div class="container-health_functions">
                    {{#each categories}}
                        {{#each children}}
                            <div class="column-health_functions">
                                <p class="title">{{name}}</p>
                                {{#each children}}
                                    <a href="{{url}}">{{name}}</a>
                                {{/each}}
                            </div>
                        {{/each}}
                    {{/each}}
                </div>

                <div class="banners banners-shopall banner-shopall-mobile">
                    <div class="banner">
                        <a href="/shop-products/" class="shopall-button">Shop All »</a>
                    </div>
                </div>
            </dd>

            <dt><a href="">Shop Products</a></dt>
            <dd class="shop-products">
                <p class="title-featured">Featured</p>
                {{#each products.featured}}
                    <article class="card right-list">
                        <div class="card-body">
                            <div class="card-text">
                                <h4 class="card-title">
                                    <a href="{{url}}">{{name}}</a>
                                </h4>
                                <div class="card-summary" data-test-info-type="price">
                                    {{#each custom_fields}}
                                        {{#if name '===' 'featured_description'}}
                                            <p>{{{ sanitize value }}} </p>
                                        {{/if}}
                                    {{/each}}
                                    <a href="{{url}}">Learn More »</a>
                                </div>
                            </div>
                        </div>
                    </article>
                {{/each}}

                <div class="banners banners-shopall banner-shopall-mobile">
                    <div class="banner">
                        <a href="/shop-products/" class="shopall-button">Shop All »</a>
                    </div>
                </div>
            </dd>

            <dt class="link-only"><a href="/the-power-of-tesseract">The Power of Tesseract</a></dt>

            <dt class="link-only"><a href="/stories">Stories</a></dt>

            <dt class="link-only"><a href="/resources">Resources</a></dt>

            <dt><a href="">Search</a></dt>
            <dd>
                <div class="navPages-quickSearch">
                    {{> components/common/quick-search}}
                </div>
            </dd>

            <dt class="link-only"><a href="{{urls.auth.login}}">Log In or Register</a></dt>

        </dl>
    </div>
</nav>
