$font-big: 2.4rem;

$spacing-size-1: 2.5rem;

$banner_purple: rgb(180,153,175);
$banner_darkpurple: rgb(97,76,92);

$button-light-hover_lightblue: rgb(150,182,220);
$button-light-hover_darkblue: rgb(41,66,110);

$button-dark-hover-blue: rgb(71,105,153);

$button-hover-practitioner-banner_lightblue: rgb(150,182,220);
$button-hover-practitioner-banner_darkblue: rgb(41,66,110);

$mainmenu-hover_lightpurple: rgba(180,153,175, 0.22);
$mainmenu-hover_darkpurple: rgb(97,76,92);

$text_darkblue: rgb(3,73,133);

$lightgrey: rgb(205,214,218);
$menu_darkblue: rgb(41,66,110);
$menu_darkblue-hover: rgb(71,105,153);


// Colours -move to _colours.scss
$dark-text: #171c21;
$dark-blue-1: #273a8a;

$white: #ffffff;
$black: #000000;
$grey1: #e4eaee;
$grey2: #cdd6da;
$grey3: #d8dfe2;
$purple1: #ae93a9;
$purple1-light: #cbbac7;
$lightblue1: #d8e9f6;
$lightblue2: #aacce5;
// Homepage Cards
$lightblue3: #b1d3ec;
$darkblue1: #476993;
$darkblue2: #313c52;
$darkblue3-text: #034985;
// Homepage Cards
$darkblue4: #29426e;

// -----------------------------------------------------------------------------
//
// Overrides
//
// -----------------------------------------------------------------------------


header, body {
  font-family: montserrat, sans-serif;

  .top-bar-section ul li a {
    font-family: montserrat, sans-serif;
  }
}

body {
  background-color: $white;
}

.body {
  margin-bottom: 0;
}

// -----------------------------------------------------------------------------
//
// Common objects
//
// -----------------------------------------------------------------------------

.banner-promo, .banner-signup {
  background-color: $purple1;
}

.banner-promo {
  .banner {
    a {
      text-decoration: none;
    }
  }
}

// @todo needs testing on all sizes/browsers
.banner-signup, .banner-practitioner, .banner-footer {
  // @todo this is effed up, but looks "OK" for now
  width: 99.3vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

// Mailing List Signup Banner
.banner-signup {
  .banner {
    .form-fieldset {
      width: 100%;
      margin-bottom: 0;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      p {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0;
      }

      input {
        margin-bottom: 0;
      }

      .form-input {
        max-width: 200px;
        margin-left: 1rem;
        border: none;
      }

      .form-input:focus + .button {
        transition: visibility 0.5s ease;
        visibility: visible;
      }

      .button {
        padding: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        border: 1px solid #444444;
        transition: visibility 0.5s ease;
        visibility: hidden;

        &:hover {
          background-color: $grey3;
          border: 1px solid $grey3;
        }
      }
    }
  }
}

// Breadcrumbs
.breadcrumbs {
  float: left;

  .breadcrumb {
    .breadcrumb-label {
      color: $black;
    }

    &:first-child::before {
      content: "";
    }

    &::before {
      content: "»";
      color: $black;
    }
  }
}

.banner-practitioner {
  background-color: $darkblue1;

  .practitioner {
    p {
      font-size: 26px;
      font-weight: bold;
      margin-top: 2rem;
    }
  }

  .banner {
    .button {
      background-color: $darkblue1;
      border: 2px solid $lightblue3;
      color: $lightblue3;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 18px;

      &:hover {
        background-color: $lightblue3;
        color: $white;
      }
    }
  }
}

// -----------------------------------------------------------------------------
//
// Navigation
//
// -----------------------------------------------------------------------------

.header {
  border: none;
}

// Top Portion / Logo Section
.navigation-logo {
  min-height: 100px;
  background: $white;

  .navigation-logo-section {
    margin: 2rem auto 0;
    padding: 0 6rem;
    max-width: 91.71429rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navUser-action {
      &:hover {
        color: $grey1;
      }
    }

    .left {
      ul {
        margin: 0;
      }

      img {
        max-height: 80px;
      }
    }

    .right {
      display: flex;
      justify-content: right;
      align-items: center;

      .cart-logo {
        margin-right: 1rem;
      }

      .form-fieldset {
        .form-field {
          input {
            border: none;

            &:focus {
              margin: -1px;
              border: 1px solid $black;
            }
          }
        }
      }

      .form, .form-field {
        margin-bottom: 0;
      }

      input {
        margin: 0;
      }
    }

    .left, .right {
      li {
        list-style: none;

        a {
          font-weight: normal;
          text-transform: none;
          background: $white;
          color: $black;
        }
      }
    }
  }
}

// Bottom Portion / Actual nav section
// Full-width / megamenu
.navigation-main {
  background-color: $white;

  .top-bar {
    .top-bar-section {
      display: flex;
      justify-content: space-evenly;
      background-color: $white;

      .navigation-nav_link {
        padding: 0 30px;

        &:hover  {
          background-color: $mainmenu-hover_lightpurple;
          color: $mainmenu-hover_darkpurple;
        }

        p {
          line-height: 45px;
          margin-bottom: 0;
        }

        & .megamenu-dropdown:hover > &,
        & .megamenu-dropdown:focus-within > &,
        & .megamenu-dropdown &:hover {
          //display: block;
        }

        &:hover .megamenu-dropdown {
          display: block;
        }

        .megamenu-dropdown {
          display: none;
          background-color: white;
          width: 99.3vw;
          position: absolute;
          left: 50%;
          right: 50%;
          margin-left: -50vw;
          margin-right: -50vw;

          // Health Functions
          .megamenu-health_functions {
            .container-health_functions {
              display: flex;
              justify-content: center;
              align-content: space-between;
              //margin-bottom: 3rem;

              .column-health_functions {
                width: 14.28%;
                margin: 0 10px;
                line-height: 1.9;

                a {
                  display: block;
                  text-decoration: none;
                  color: $menu_darkblue;

                  &:hover {
                    color: $menu_darkblue-hover;
                  }
                }
              }

              .divider {
                width: 0;
                border-top: 0;
                border-right: 1px solid $lightgrey;
                margin: 10px 0;
                height: 10rem;
              }
            }

            .title {
              font-weight: bold;
              color: $menu_darkblue;
            }
          }

          // Shop Products
          .megamenu-shop_products {
            article {
              margin-bottom: 0;
            }

            .shop_products-left {
              .shop_products-featured-text {
                font-weight: bold;
                color: $text_darkblue;
              }
            }

            .shop_products-center {
              .center-column {
                max-height: 100px;
              }
            }

            .shop_products-right {
              .card-body {
                .card-text {
                  white-space: nowrap;
                  overflow: hidden;
                  max-width: 150px;
                }
              }

              article {
                margin-bottom: 0;
              }
            }
          }

          .banners-shopall {
            background-color: $banner_purple;
          }
        }
      }
    }
  }
}

// QuickSearch
.quickSearchResults {
  position: absolute;
  z-index: 1;

  .product {
    width: 100%;

    .card {
      border: none;

      &:hover > .card-body {
        background-color: $white;
        color: $grey1;

        h4, a, .card-text {
          color: $grey1;
        }
      }
    }
  }
}

// -----------------------------------------------------------------------------
//
// Footer
//
// -----------------------------------------------------------------------------

.footer {
  background-color: $darkblue2;
  padding: 3rem 0 0;
  border-top: 0;

  h5 {
    color: $lightblue2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  a {
    color: $lightblue2;

    &:hover {
      color: $white;
    }
  }

  .footer-info {
    display: flex;
    justify-content: center;

    .footer-info-heading, .footer-info-list li {
      margin-bottom: 0.6rem;
    }

    .footer-half {
      width: 50%;

      p {
        color: $white;
      }
    }

    .border-right {
      border-right: 2px solid $lightblue2;
    }

    .footer-info-links {
      width: 25%;
      padding-left: 3rem;
    }
  }

  .footer-fda {
    display: flex;
    justify-content: center;

    .fda-border-box {
      max-width: 600px;
      border: 2px solid $white;
      margin-bottom: 2rem;
      padding: 1px 8px;
    }

    p {
      color: $white;
      margin: 0;
      text-align: justify;
    }
  }

  .banner-footer {
    background-color: $white;
    color: $black;

    p {
      display: inline;
    }

    a {
      color: $black;
      text-decoration: none;
    }
  }
}

// -----------------------------------------------------------------------------
//
// Home Page
//
// -----------------------------------------------------------------------------

// Hero Carousel
.heroCarousel {
  margin-bottom: 0;

  .slick-arrow, .slick-dots li {
    background-color: rgba(0,0,0,0);
    border: none;
    color: $white;
  }

  .slick-dots {
    li {
      button {
        background-color: #757575;
        border: 1px solid #757575;
      }

      &.slick-active {
        button::before {
          background: $purple1;
          border: 1px solid $purple1;
        }
      }
    }
  }

  .heroCarousel-slide {
    .heroCarousel-content {
      background-color: rgba(0,0,0,0);
      text-align: left;

      .heroCarousel-title, .heroCarousel-description {
        color: black;
        font-weight: bold;
      }

      .heroCarousel-description {
        font-size: 36px;
      }

      .heroCarousel-action {
        padding: 20px 35px;
        border: none;
        border-radius: 0;
        background-color: $lightblue3;
        color: $black;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;

        &:hover {
          background-color: $lightblue1;
        }
      }
    }
  }
}

// Cards
.home-cards {
  .home-cards_title {
    margin-bottom: $spacing-size-1;
    color: $black;
    text-align: center;
    font-size: 28px;
    line-height: 1.3;

    h2 {
      margin-top: 0;
    }
  }

  .home-cards_cards {
    .pricing-table {
      border: none;

      li {
        background-color: $lightblue3;
        height: 85px;
      }
    }

    .title {
      color: $darkblue4;
      font-size: 24px;
    }

    .description {
      color: $dark-text;
      text-align: left;
      border-bottom: none;
      min-height: 12rem;

      p {
        font-size: 16px;
        line-height: 1.4rem;
      }
    }

    .button {
      background-color: $darkblue4;
      color: #ffffff;
      border: none;
      border-radius: 0;
      width: 100%;
      font-size: 20px;

      &:hover {
        background-color: $darkblue1;
        color: $grey3;
      }
    }
  }

  .home-cards_cards_border {
    margin: 0;
    border: solid $darkblue4;
    border-width: 5px 0 0;
  }
}

// Home Cards Lower
.home-cards-lower {
  margin: 6rem 0;

  .home-cards_cards {
    .pricing-table {
      border: none;

      .title {
        color: $black;
        font-weight: bold;
        font-size: 21px;
        line-height: 1.2;
        margin: 1rem 0;
      }

      .description {
        p {
          margin-bottom: 0;
        }
      }

      .readmore {
        font-weight: bold;

        a {
          text-decoration: none;
          margin: 0 auto;
        }
      }

      li {
        text-align: left;
        background-color: $white;
        border: none;
        padding: 0 15px;
      }
    }
  }
}

// Product Grid / Featured / Best Sellers
.featured-products {
  margin-top: 3rem;
  color: $black;
}

.center-button-large {
  text-align: center;
  margin-bottom: 3rem;

  .button {
    padding: 20px 35px;
    border: none;
    border-radius: 0;
    background-color: $lightblue3;
    color: $black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;

    &:hover {
      background-color: $lightblue1;
    }
  }
}

.productGrid {
  .product {
    .card-figure {
      border: 1px solid $grey3;

      .card-figcaption {
        .card-figcaption-body {
          .button {
            border-radius: 0;
            text-transform: uppercase;
            font-weight: bold;
            background-color: rgba(177,211,236,0.8);

            &:hover {
              background-color: rgba(216,233,246,0.8);
            }
          }

          .out-of-stock {
            background-color: rgba(216,216,216,0.8);
            color: $white;
            font-weight: bold;

            &:hover {
              background-color: rgba(216,216,216,1);
            }
          }
        }
      }
    }

    .card-body {
      .card-title {
        font-weight: bold;
      }

      .card-text {
        color: $black;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

// Fullwidth
.home-fullwidth {
  margin-bottom: 2rem;

  .container {
    border-top: 2px solid $purple1;

    .flex {
      display: flex;
      justify-content: center;
      margin-top: 2rem;
    }

    h2 {
      text-align: center;
      font-weight: bold;
      color: $black;
    }

    img {
      padding: 0 2rem;
    }

    .body-text {
      margin-top: 3rem;
      padding: 0 4rem;

      p {
        color: $darkblue1;
        font-size: 20px;
        text-align: center;
      }
    }
  }
}

// Block Text Left
.home-block_text-left {
  text-align: center;

  h1 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: $font-big;
    line-height: 2.8rem;
  }

  h1, h2 {
    color: $dark-blue-1;
  }
}

// -----------------------------------------------------------------------------
//
// Product Page
//
// -----------------------------------------------------------------------------

.productView-details {
  &.product-info {
    margin-bottom: 0;

    .productView-product {
      padding-bottom: 0;
    }
  }

  .productView-product {
    border: none;

    .flexbox-container {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

      .productView-price {
      margin-bottom: 0;
    }

    .productView-stock {
      color: #65ab57;

      .red {
        color: red;
      }
    }

    .productView-title {
      font-size: 28px;
      font-weight: bold;
    }
  }

  .productView-description {
    padding-top: 0;
    &.description-readmore {
      width: 100%;
    }

    .readmore-box {
      max-height: 420px;
      position: relative;
      overflow: hidden;

      .read-more {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        margin: 0;
        padding: 30px 0;
        background-image: linear-gradient(to bottom, transparent, $white);

        .button {
          border: none;
          background: $grey2;
          border-radius: 20px;
          color: $white;
          font-weight: bold;
          padding: 5px 15px;
          z-index: 3;

          &:hover {
            background-color: $grey3;
          }
        }
      }
    }
  }

  .productView-options {
    .button--icon {
      //position: absolute;
      border: none;

      // @todo make this work right
      &.button--icon_left {
        //right: 29rem;
      }

      &.button--icon_right {
        //right: 34rem;
      }

      .icon {
        width: 3rem;
        height: 3rem;

        svg {
          fill: $black;
        }
      }
    }

    .form-input--incrementTotal {
      float: left;
      width: 7rem;
    }

    .form-input {
      font-size: 25px;
      font-weight: bold;
      background-color: $white;
      border: none;
      border-bottom: 3px solid $black;
    }

    .form-action {
      width: 14rem;

      input {
        border: 3px solid black;
        background-color: $white;
        color: $black;
        font-weight: bold;
        font-size: 22px;

        &:hover {
          color: $white;
          background-color: $black;
        }
      }
    }
  }
}

.productView-images {
  .productView-thumbnails {
    .productView-thumbnail {
      width: 33.3%;

      hr {
        border-bottom: 5px solid $grey1;
        margin: 0 20px;

        &.active {
          border-bottom-color: $dark-blue-1;
        }
      }

      .productView-thumbnail-link {
        border: none;
        max-width: 150px;
        height: 150px;
      }

      &:hover > hr {
        border-bottom-color: $dark-blue-1;
      }
    }
  }
}

.product-testimonials {
  background-color: $lightblue1;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .dark-blue {
    color: $dark-blue-1;
  }

  .review-text p {
    font-size: 16px;
  }

  .fda-text p {
    font-size: 12px;
    color: $black;
  }

  h3 {
    font-weight: bold;
  }
}
