<!-- @todo Queue Blog Posts, limit 3, if video then "Watch More"-->
<section class="home-cards-lower">
    <div class="row home-cards_cards">
        {{#each blog.recent_posts}}
            <div class="medium-4 columns">
                <ul class="pricing-table">
                    <img src="{{thumbnail.data}}" alt="{{thumbnail.alt}}">
                    <li class="title">{{title}}</li>
                    <li class="description"><p>{{summary}}</p></li>
                    <li class="readmore"><a href="{{url}}">Read More</a></li>
                </ul>
            </div>
        {{/each}}
    </div>
</section>
