<section class="home-fullwidth">
    <div class="container">
        <div class="flex">
            <h2>A History of Quality & Clean Label</h2>
        </div>
        <div class="flex">
            {{> components/common/responsive-img
                    image="/content/Home_about.png"
                    fallback_size=theme_settings.blog_size
                    lazyload=theme_settings.lazyload_mode
            }}
        </div>
        <div class="flex body-text">
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#toggles"/>
            </svg>

            <p>Tesseract’s commitment to Good Manufacturing Processes includes a well-designed quality control system that does not focus simply on finished product testing, but utilizes the most appropriate analytical techniques to assure the finest quality of materials throughout the process.</p>
        </div>
    </div>
</section>
si
