<section class="home-fullwidth">
    <div class="container">
        <div class="flex">
            <h2>A History of Quality & Clean Label</h2>
        </div>
        <div class="flex">
            <img src="assets/img/scaled/1x/Home_about.png" srcset="assets/img/scaled/1x/Home_about.png 1x, assets/img/scaled/2x/Home_about@2x.png 2x, assets/img/scaled/3x/Home_about@3x.png 3x, assets/img/scaled/4x/Home_about@4x.png 4x" alt="A History of Quality & Clean Label">
        </div>
        <div class="flex body-text">
            <svg class="bi" width="32" height="32" fill="currentColor">
                <use xlink:href="bootstrap-icons.svg#toggles"/>
            </svg>

            <p>Tesseract’s commitment to Good Manufacturing Processes includes a well-designed quality control system that does not focus simply on finished product testing, but utilizes the most appropriate analytical techniques to assure the finest quality of materials throughout the process.</p>
        </div>
    </div>
</section>
