<p><b>MEDICAL FOOD INTENDED FOR USE UNDER MEDICAL SUPERVISION</b></p><p><b>Serving Size: One Scoop (approx. 825 mg) Servings Per Container: 68</b></p><p>Mix 1-2 scoops in water, juice, or applesauce two times daily as directed by your physician</p>
<p>AuRx® is a medical food specifically formulated and processed to provide a strategic short chain fatty acid (SCFA), butyric acid, in a single molecule form. AuRx® butyric acid is trapped in a specialized food matrix with a release agent that ensures solubility and maximum absorption while maximizing the odor and disagreeable taste normally found in butyric
acid. This product is designed to provide</p>
<p>specific nutritional requirements for ASD patients with SCFA gut microbiome deficiencies as evaluated by a medical professional.</p>
