<p>Orally take one capsule every two drinks and then take at least three capsules as your final dose before you go to sleep. This  assures support for your body as it finishes the detox process while you sleep.</p>
<!--
	this is the suggested use from the website not the back of the product (no suggested use on the back)
	but the back of the product is:
	<p>Take one (1) capsule after EVERY two (2) drinks. PLUS take three (3) or more capsules before before bed for optimal <b>
		ZERO HOUR DETOX</b> support.</p>
-->
