<div class="product-testimonials">
    <div class="row">
        <div class="small-8 columns dark-blue">
            <h3>What People Are Saying</h3>
            <div class="review-text">
                <p><b>Patient experiencing dry, unproductive cough to the point of vomiting. Nothing was working. We gave him MuSolve 4 caps, 2 times a day for two days. Voila!</b> Loosened infected, yellow mucus and cough was productive. Felt much better and cut dosage in half. We ordered another 12 bottles for our pharmacy yesterday. Should have ordered 24!</p>
                <p>—Seth, Center for Functional Nutrition</p>
            </div>
            <div class="fda-text">
                <p>*These statements have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure, or prevent any disease.</p>
            </div>
        </div>

        <div class="small-4 columns">
            <h3>Suggested Use</h3>
            <p>Take 1-2 capsules two times daily or as recommended by your health-care practitioner.</p><p>Tamper Evident: Use only if bottle is sealed. Store tightly sealed in a cool, dry place.</p><p>If pregnant, consult your health-care practitioner before using this product.</p>
        </div>
    </div>
</div>
